.header__title {
  h1 {
    font-size: 45px;
  }
}
.left {
  &__title {
    font-size: 27px;
    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.01);
  }
}
.right {
  h2 {
    font-size: 35px;
  }
}
@media screen and (min-width: 1024px) {
  .header__title {
    h1 {
      font-size: 56px;
    }
  }
  .left__title {
    font-size: 32px;
  }
  .right {
    h2 {
      font-size: 40px;
    }
  }
}
