body {
  letter-spacing: -0.02em;
}

.left {
  &__title {
    font-size: 27px;
    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.01);

    @media screen and (min-width: 1024px) {
      font-size: 32px;
    }
  }
}
