body {
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--primary);
  transition: all 0.4s ease;
}

.left {
  &__title {
    font-size: 27px;
    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.01);

    @media screen and (min-width: 1024px) {
      font-size: 32px;
    }
  }
}

h4 {
  font-size: var(--h4);
  line-height: 1.5;
}
