@font-face {
  font-weight: 400;
  font-family: 'Arial';
  font-style: normal;
  src: url('../fonts/Arial/arial-webfont.ttf');
  src: url('../fonts/Arial/arial-webfont.eot') format('eot'),
    url('../fonts/Arial/arial-webfont.svg') format('svg'),
    url('../fonts/Arial/arial-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'Arial';
  font-style: normal;
  src: url('../fonts/Arial/arialbd-webfont.ttf');
  src: url('../fonts/Arial/arialbd-webfont.eot') format('eot'),
    url('../fonts/Arial/arialbd-webfont.svg') format('svg'),
    url('../fonts/Arial/arialbd-webfont.woff') format('woff');
  font-display: swap;
}

body {
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: rgb(var(--bluecoral));
  transition: all 0.4s ease;

  &:hover {
    color: rgb(var(--spring-50));
  }
}

.left {
  &__title {
    font-size: 27px;
    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.01);

    @media screen and (min-width: 1024px) {
      font-size: 32px;
    }
  }
}

h2 {
  @apply text-4xl font-bold text-n-50;

  @media screen and (min-width: 640px) {
    @apply text-heading-3;
  }
}

h4 {
  @apply text-heading-4 leading-normal;
}
