{
  "extends": ["stylelint-config-rational-order", "stylelint-config-prettier"],
  "plugins": ["stylelint-order", "stylelint-scss"],
  "customSyntax": "postcss-scss",
  "rules": {
    "indentation": 4,
    "declaration-colon-space-after": "always",
    "string-no-newline": true,
    "declaration-empty-line-before": "never",
    "block-closing-brace-empty-line-before": "never"
  },
  "ignoreFiles": ""
}
