{
  "extends": ["stylelint-config-rational-order", "stylelint-config-prettier"],
  "plugins": ["stylelint-order", "stylelint-scss"],
  "customSyntax": "postcss-scss",
  "rules": {
    "color-no-invalid-hex": true
  },
  "ignoreFiles": ""
}
