:root {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --transparent: transparent;

  // Neutrals
  --n-0: 255, 255, 255;
  --n-10: 241, 247, 249;
  --n-20: 213, 220, 222;
  --n-30: 166, 181, 186;
  --n-40: 104, 121, 126;
  --n-50: 42, 47, 48;

  // Primary colors
  --turquoise: 6, 219, 228;
  --bluecoral: 21, 83, 102;

  // Secondary colors
  // Camel
  --camel-10: 252, 239, 228;
  --camel-20: 249, 219, 193;
  --camel-30: 248, 207, 173;
  --camel-40: 246, 195, 152;
  --camel-50: 244, 183, 132;
  // Teal
  --teal-10: 231, 243, 241;
  --teal-20: 215, 235, 232;
  --teal-30: 195, 224, 220;
  --teal-40: 175, 214, 209;
  --teal-50: 135, 194, 186;
  // Spring
  --spring-10: 178, 221, 211;
  --spring-20: 139, 204, 189;
  --spring-30: 100, 187, 167;
  --spring-40: 62, 170, 145;
  --spring-50: 23, 153, 123;
  // Lagoon
  --lagoon-10: 209, 238, 240;
  --lagoon-20: 178, 227, 229;
  --lagoon-30: 139, 213, 216;
  --lagoon-40: 101, 200, 204;
  --lagoon-50: 24, 172, 178;
  // Salmon
  --salmon-10: 255, 227, 224;
  --salmon-20: 255, 208, 203;
  --salmon-30: 255, 184, 177;
  --salmon-40: 255, 161, 152;
  --salmon-50: 255, 114, 100;
  // Lavender
  --lavender-10: 237, 226, 251;
  --lavender-20: 225, 207, 248;
  --lavender-30: 210, 182, 244;
  --lavender-40: 196, 158, 240;
  --lavender-50: 166, 110, 233;
  // Crimson
  --crimson-10: 255, 248, 247;
  --crimson-20: 250, 213, 215;
  --crimson-30: 241, 155, 160;
  --crimson-40: 227, 77, 91;
  --crimson-50: 209, 0, 30;

  // Pastel colors
  --eggshell: 255, 253, 231;
  --mint: 238, 249, 245;
  --rose: 255, 241, 240;
  --paper: 246, 247, 252;
}
