$black: #000000;
$white: #ffffff;
$bluecoral: #155366;
$Turquoise: #1fdfe7;
$Turquoise-hover: #1fdfe71a;
$success: #18acb2;
$N-N50: #2a2f30;
$N-N40: #68797e;
$N-N30: #a6b5ba;
$N-N20: #d5dcde;
$N-N10: #f1f7f9;
