@media screen and (min-width: 640px) {
  .wrapper::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 292px;
    background-image: url('/images/marque-white.png');
    background-repeat: no-repeat;
    background-position: 100% 16.5%;
    background-size: 70%;
    opacity: 0.3;
    content: '';
  }
}
.header {
  max-width: 1166px;
  margin: auto;
}
.nav__active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  @apply bg-turquoise;
  content: '';
}
.links__active {
  @apply text-black;
  font-weight: bold;
}
.nav__links {
  position: relative;
  padding: 20px 8px;
  font-weight: normal;
  font-style: normal;

  a:hover {
    @apply text-n-50;
  }

  .read__more {
    @apply rounded-sm bg-bluecoral text-center text-xs text-white;
    width: fit-content;
    padding: 8px 18px;

    &:hover {
      @apply bg-n-50 text-white;
    }
  }

  a {
    @apply text-white;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .nav__links {
    padding: 0px 8px 20px;

    a {
      @apply text-n-50;
      font-size: 12px;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      @apply bg-turquoise;
      transform: scale(0, 1);
      transition: 0.3s;
      content: '';
    }
    &:hover::after {
      transform: scale(1, 1);
    }
  }
}
.dropdown__content {
  @apply invisible absolute right-0 top-7 hidden h-56 bg-white py-7 px-8 opacity-0 duration-300 xl:block;
  width: 424px;
  height: auto;
  line-height: 22px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown:hover {
  .dropdown__content {
    transform: translateY(12px);
    visibility: visible;
    opacity: 1;
  }
}
.nav__list {
  @media screen and (max-width: 1280px) {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 100vh;
    padding: 30px;
    @apply bg-bluecoral text-white;
    font-size: 16px;
    text-align: center;
    transform: translateX(105%);
    transition: 0.3s;
    z-index: 110;
    filter: drop-shadow(-0px 0px 8px #000);

    .active {
      a {
        @apply text-white;
        position: relative;
        padding-bottom: 24px;

        &:hover {
          @apply text-white;
        }

        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          transform: scale(0, 1);
          transition: 0.3s;
          content: '';
          @apply bg-turquoise;
        }
        &:hover::after {
          transform: scale(1, 1);
        }
      }
    }
  }

  @media screen and (max-width: 440px) {
    width: 250px;
    padding: 20px;
    font-size: 14px;
  }
}

#menu-overlay {
  @apply xl:hidden;
}

#activity-menu-overlay {
  @media screen and (min-width: 1420px) {
    @apply hidden;
  }
}

.menu-overlay {
  position: fixed !important;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}
.activity-nav-menu {
  @media screen and (max-width: 1420px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    padding: 100px 30px;
    @apply bg-bluecoral text-white;
    font-size: 16px;
    text-align: center;
    transform: translateX(-105%);
    backdrop-filter: blur(7px);
    transition: 0.3s;
    z-index: 100;
    flex-direction: column;
    filter: drop-shadow(0px 0px 8px #000);

    .activity-nav-list {
      @apply flex flex-col gap-y-4 pl-4 text-sm;
    }
    .activity-nav-list.language-nav-list {
      flex-direction: row;
      margin-bottom: 20px;
      padding-bottom: 28px;
      padding-left: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.24);

      .nav__pointer,
      .nav__pointer-hover {
        @apply relative;
        &:after {
          content: '';
          @apply absolute bottom-0 left-0 h-1 w-full scale-x-0 scale-y-100 rounded-sm bg-turquoise transition-all duration-500;

          @media screen and (max-width: 1420px) {
            @apply -bottom-2  h-1 w-full;
          }
        }

        &:hover:after {
          @apply scale-x-100;
        }
      }
      .nav__pointer:after {
        @apply scale-x-100;
      }
    }
  }
}
.nav-active {
  transform: translateX(0%);
}

.nav {
  &__pointer,
  &__pointer-hover {
    @apply relative;
    &:after {
      content: '';
      @apply absolute bottom-0 left-0 h-1 w-full scale-x-0 scale-y-100 rounded-sm bg-turquoise transition-all duration-500;

      @media screen and (max-width: 1420px) {
        @apply -left-4 h-full w-1;
      }
    }

    &:hover:after {
      @apply scale-x-100;
    }
  }

  &__pointer:after {
    @apply scale-x-100;
  }
}

.activity-nav {
  @apply flex grow;

  @media screen and (min-width: 1420px) {
    @apply justify-end;
  }
}

.language-hover:hover {
  @apply nav__active links__active;
  a {
    color: white !important;
  }
}
