// * {
//   outline: 1px solid rgba(205, 15, 15);
// }
.main {
  &__container {
    max-width: 1166px;
    margin: auto;
  }
  .left__container {
    background-image: linear-gradient(
      160deg,
      rgba(255, 255, 255, 0.2),
      transparent
    );

    a {
      border-bottom: 2px solid transparent;

      &:hover {
        @apply border-b-2 border-turquoise;
      }
    }
  }
  .right {
    width: 93%;
    box-shadow: 0px 20px 40px 20px rgba(0, 0, 0, 0.05);

    &__container {
      h2 {
        line-height: 60px;
      }
    }

    &__content {
      border: 1px solid transparent;
      box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
      @apply flex items-center rounded-lg bg-white py-6 px-5;

      .right__icon {
        @apply text-lagoon-50;
        margin-bottom: -8px;
      }
      .right__arrow {
        @apply text-white;
      }
      &:hover {
        @apply border border-turquoise bg-turquoise bg-opacity-10;
        box-shadow: 0px 0px 25px 0px transparent;

        .right__icon {
          svg {
            @apply fill-lagoon-50 text-white;
          }
        }
        .right__arrow {
          @apply fill-white text-turquoise;
        }
      }
    }
  }
  @media screen and (min-width: 1366px) {
    .join-now {
      @apply px-20;

      .right__content {
        width: 423px;
      }
    }
  }
}
@media screen and (min-width: 640px) {
  input {
    padding-left: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .left {
    height: 649px;

    &__container {
      width: 386px;
    }
  }
  .right {
    height: 649px;
  }
}
@media screen and (max-width: 768px) {
  .right {
    margin-top: -265px;
  }
}
@media screen and (max-width: 420px) {
  .right__icon {
    display: none;
  }
  .details {
    margin-left: 0;
  }
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-n-20 hover:bg-n-30;
}
main {
  display: grid; // Line 1
  grid-template-rows: auto 1fr auto; // Line 2
  min-height: calc(100vh - 465px); // Line 3
}
.activities__sidebar {
  flex-shrink: 0;
  @media (max-width: 700px) {
    width: 220px !important;
  }
}
