//tailwind
@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

// Abstracts
@import 'abstracts/variables';

// layouts
@import 'layouts/header';
@import 'layouts/main';
@import 'layouts/footer';
@import 'layouts/activity';
@import 'layouts/setting_page';
@import 'layouts/_webportalpages';

// base
@import 'base/typography';

// component
@import 'component/button';
@import 'component/hamburger';
@import 'component/input';
@import 'component/table';
@import 'component/forms';
@import 'component/pagination';
@import 'component/overlay';
@import 'component/select2';
@import 'component/sidebar-icon';
@import 'component/stepbar';

//vendor overrides
@import 'vendor-overrides/multiselect';
@import 'vendor-overrides/zendex';
@import 'vendor-overrides/_vue-datepicker';

html {
  visibility: visible;
  opacity: 1;
  display: block;
}

.bg-organeish {
  background: #ee711e;
}

.border-orangeish {
  border: 1px solid #ee711e;
}

.background_blink {
  -webkit-animation: blinkBackground 0.4s infinite;
  /* Safari 4+ */
  -moz-animation: blinkBackground 0.4s infinite;
  /* Fx 5+ */
  -o-animation: blinkBackground 0.4s infinite;
  /* Opera 12+ */
  animation: blinkBackground 0.4s infinite;
  /* IE 10+, Fx 29+ */
}

@keyframes blinkBackground {
  0%,
  49% {
    background-color: #fffde7;
  }

  50%,
  100% {
    background-color: #f6f1bf;
  }
}
