// Turquoise button
.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  outline: none;
  @apply bg-turquoise text-n-50;

  &:hover {
    @apply bg-bluecoral;
    @apply text-white;

    svg {
      transform: translateX(4px);
      transition: 0.3s;
    }
  }
}

.btn-back {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  @apply w-24 text-bluecoral;

  svg {
    transition: 0.3s;
  }

  &:hover {
    svg {
      transform: translateX(-4px);
    }
  }
}

.btn-next {
  @media screen and (min-width: 640px) {
    height: 48px;
    padding: 13px 24px;
  }
  @apply w-36 py-2.5 text-n-50 sm:w-40;

  svg {
    margin-left: 13px;
    transition: 0.2s;
  }
}

.get-started-btn {
  width: 185px;
}

.reset-btn {
  @apply mt-6 flex justify-center rounded-lg border-none bg-turquoise text-sm font-bold uppercase text-n-50 outline-none duration-200 hover:bg-bluecoral hover:text-white;
  width: 100%;
  padding: 16px 94px;
}

@media screen and (min-width: 640px) {
  .reset-btn {
    padding: 18px 94px;
  }
}

svg {
  height: 1em;
}

.vrp__wrapper {
  p {
    @apply text-sm leading-normal;
  }
  svg {
    height: auto;
  }
}

.button,
button {
  @apply flex cursor-pointer items-center text-xs leading-normal tracking-tight;
  transition: all 0.4s ease;
}

// tooltip button
.tooltip-btn {
  @apply relative text-n-30;
  button {
    @apply rounded-3xl border border-solid border-n-30 py-1.5 px-2.5;
  }

  svg {
    @apply mr-1 text-xs;
  }

  &__content {
    @apply absolute top-full left-0 hidden w-[352px];
    .content {
      @apply mt-6 rounded bg-eggshell text-n-50;
      padding: 16px 33px 16px 16px;
      box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    }

    p {
      @apply mb-1.5 text-xs leading-normal;
    }
  }

  &:hover .tooltip-btn__content {
    display: block;
  }

  &:hover button {
    @apply border-spring-50 text-spring-50;
  }
}

// primary button
.primary-btn {
  @apply gap-1 rounded bg-bluecoral p-3 font-bold uppercase text-white;
  box-shadow: 0px 2px 10px 10px rgba(0, 0, 0, 0.05);

  &.space {
    @apply px-6;
  }

  &:hover {
    @apply bg-n-50 text-white;
  }

  svg {
    @apply text-base;
  }
}

// secondary button
.secondary-btn {
  @apply gap-1 gap-x-1 rounded bg-white p-3 uppercase text-bluecoral;
  box-shadow: 0px 2px 10px 10px rgba(0, 0, 0, 0.05);

  &:hover {
    @apply bg-bluecoral text-white;
  }

  svg {
    @apply text-base;
  }

  .dropdown__arrow {
    font-size: 6px;
    transition: 0.2s;
  }
}

// primary outline button
.primary-outline-btn {
  @apply justify-center gap-1 rounded-3xl border border-spring-50 px-3.5 text-sm leading-relaxed text-spring-50;
  filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.1));

  &:hover {
    @apply bg-spring-50 text-white;
  }

  svg {
    @apply text-base;
  }
}

.ghost-btn {
  @apply text-xs font-bold uppercase text-n-40;
  transition: 0.4s;

  &:hover {
    @apply text-bluecoral;
  }
}

.tab-btn-anchor {
  @apply cursor-default;
}

.tab-btn {
  @apply h-9 rounded border border-n-20 bg-white p-2 text-xs text-n-40;
  border-radius: 4px;

  &:hover {
    @apply border-turquoise bg-n-10 text-bluecoral;
  }
}

.active__tab {
  @apply border-turquoise bg-n-10 text-bluecoral;
}

.panel-btn {
  @apply h-10 space-x-1 rounded border border-n-30 bg-eggshell py-3 px-2;
  width: 43px;

  &:hover {
    @apply bg-bluecoral text-white;
  }

  .dropdown__arrow {
    font-size: 6px;
    transition: 0.2s;
  }
}
