// Turquoise button
.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  outline: none;
  @apply bg-turquoise;
  @apply text-n-50;

  &:hover {
    @apply bg-bluecoral;
    @apply text-white;

    svg {
      transform: translateX(4px);
      transition: 0.3s;
    }
  }
}
.btn-back {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  @apply text-bluecoral;

  svg {
    transition: 0.3s;
  }

  &:hover {
    svg {
      transform: translateX(-4px);
    }
  }
}
.btn-next {
  padding: 13px 24px;

  svg {
    margin-left: 13px;
    transition: 0.2s;
  }
}
.reset-btn {
  @apply mt-6 flex justify-center rounded-lg border-none bg-turquoise text-sm font-bold uppercase text-n-50 outline-none duration-200 hover:bg-bluecoral hover:text-white;
  width: 100%;
  padding: 16px 94px;
}
@media screen and (min-width: 640px) {
  .btn {
    padding: 18px 0;
  }
  .reset-btn {
    padding: 18px 0px;
  }
}

svg {
  height: 1em;
}

.button,
button {
  @apply flex cursor-pointer items-center text-xs leading-normal tracking-tight;
  transition: all 0.4s ease;
}

// tooltip button
.tooltip-btn {
  @apply relative text-n-30;
  button {
    @apply rounded-3xl border border-solid border-n-30 py-1.5 px-2.5;
  }
  svg {
    @apply mr-1 text-xs;
  }

  &__content {
    @apply absolute top-full left-0 hidden w-[352px];
    .content {
      @apply mt-6 rounded bg-eggshell text-n-50;
      padding: 16px 33px 16px 16px;
      box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    }

    p {
      @apply mb-1.5 text-xs leading-normal;
    }
  }

  &:hover .tooltip-btn__content {
    display: block;
  }

  &:hover button {
    @apply border-spring-50 text-spring-50;
  }
}

// primary button
.primary-btn {
  @apply rounded bg-bluecoral p-3 font-bold uppercase text-white;
  box-shadow: 0px 2px 10px 10px rgba(0, 0, 0, 0.05);

  &.space {
    @apply px-6;
  }

  &:hover {
    @apply bg-n-50 text-white;
  }

  svg {
    @apply mr-1 text-base;
  }
}

// secondary button
.secondary-btn {
  @apply gap-x-1 rounded bg-white p-3 uppercase text-bluecoral;
  box-shadow: 0px 2px 10px 10px rgba(0, 0, 0, 0.05);

  &:hover {
    @apply bg-bluecoral text-white;
  }

  svg {
    @apply text-base;
  }

  .dropdown__arrow {
    font-size: 6px;
    transition: 0.2s;
  }
}

// primary outline button
.primary-outline-btn {
  @apply justify-center rounded-3xl border border-spring-50 px-3.5 text-sm leading-relaxed text-spring-50;
  filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.1));

  &:hover {
    @apply bg-spring-50 text-white;
  }
}
.ghost-btn {
  @apply text-xs font-bold uppercase text-n-40;
  transition: 0.4s;

  &:hover {
    @apply text-bluecoral;
  }
}
