.checkbox {
  @apply relative block cursor-pointer select-none;

  .checkmark {
    @apply flex h-4 w-4 items-center justify-center rounded border-2 border-n-20;
    transition: all 0.4s ease;

    &:after {
      border-width: 0 3px 3px 0;
      content: '';
      @apply mb-0.5 hidden h-2 w-[5px] rotate-45 border-spring-50;
    }
  }

  input {
    @apply absolute h-0 w-0 cursor-pointer opacity-0;

    &:checked ~ .checkmark {
      @apply border-spring-50;

      &:after {
        @apply block;
      }
    }
  }

  &:hover input ~ .checkmark {
    @apply border-spring-50;
  }
}

form {
  .form-field-group {
    @apply relative rounded-lg border border-n-30 p-6;
    &:not(:last-child) {
      @apply mb-6;
    }

    .delete-item {
      @apply absolute top-2/4 right-0 -translate-y-2/4 translate-x-2/4 cursor-pointer rounded-full bg-n-40 p-1.5 text-lg text-n-40 text-white;
    }
  }

  .form-field {
    @apply px-3;

    .help-text {
      @apply mt-2 text-xs leading-relaxed;
    }
  }

  .form-field-label {
    @apply mb-2 flex justify-between;
    label {
      @apply text-xs leading-relaxed;
    }

    .required {
      @apply font-bold text-salmon-50;
    }
  }

  input[type='text'] {
    @apply w-full rounded border border-n-30 px-4 py-3 outline-none duration-300;

    &::placeholder {
      @apply text-sm text-n-40;
    }

    &:focus {
      @apply border border-n-50 bg-n-10;
    }

    &:focus::placeholder {
      @apply text-n-50;
    }
  }

  select {
    @apply w-full rounded border border-n-30 px-4 py-3 text-sm text-n-40 outline-none duration-300;

    &:focus {
      @apply border border-n-50 bg-n-10;
    }
  }
}
