.hamburger {
  span {
    pointer-events: none;
  }
  span:nth-child(1) {
    left: 2px;
    width: 30px;
    transform: translateY(-15px);
  }
  &.active {
    span:nth-child(1) {
      width: 40px;
      transform: rotate(45deg);
    }
    span:nth-child(2) {
      transform: translateX(60px);
    }
    span:nth-child(3) {
      width: 40px;
      transform: translateY(0px) rotate(315deg);
    }
  }
  span:nth-child(3) {
    left: 2px;
    width: 20px;
    transform: translateY(15px);
  }
}
