.hamburger {
  @apply relative z-auto flex h-11 w-11 cursor-pointer items-center justify-center overflow-hidden rounded duration-300;
  z-index: 120;

  span {
    @apply pointer-events-none absolute h-1 w-10 rounded-lg duration-300;
  }
  span:nth-child(1) {
    bottom: 18px;
    left: 2px;
    width: 30px;
    transform: translateY(-15px);
  }

  span:nth-child(3) {
    top: 18px;
    left: 2px;
    width: 20px;
    transform: translateY(15px);
  }
}
.hamburger-menu {
  display: none;

  @media screen and (max-width: 1420px) {
    display: block;
  }
}
