.input {
  box-sizing: border-box;
  padding: 14px 0px 14px 55px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
  @apply h-14 border border-n-30 sm:h-16;

  &:focus {
    @apply border border-n-50 bg-n-10;
  }

  &::placeholder {
    letter-spacing: -0.02em;
    @apply font-normal text-n-40;
  }

  &:focus::placeholder {
    @apply text-n-50;
  }

  @media screen and (min-width: 640px) {
    padding: 20px 0px 20px 55px;
  }
}
.error {
  @apply text-sm text-crimson-50 sm:text-base;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.has_error {
  .form__input {
    @apply border border-crimson-50;
  }
}
textarea.form__input {
  display: block;
}
.text-area {
  outline: none !important;
  height: 60px;
  resize: none;
}
.form__input {
  @apply mb-2 box-border w-full rounded border border-n-30 text-bluecoral outline-none duration-300;

  @media screen and (min-width: 640px) {
    padding: 13px 0 13px 16px;
  }
  padding: 10px 0 10px 16px;

  &::placeholder {
    @apply text-sm font-normal text-n-40;
    letter-spacing: -0.02em;
  }

  &:focus {
    @apply border border-n-50 bg-n-10;
  }

  &:focus::placeholder {
    @apply text-n-50;
  }
}
.input__field {
  .multiselect-option.is-selected {
    @apply bg-n-20 text-n-50;
  }

  .multiselect-option.is-selected.is-pointed {
    @apply bg-n-20 text-n-50;
  }

  .multiselect.is-active {
    @apply border border-n-50 bg-n-10;
    box-shadow: 0 0 0 0;
  }

  .multiselect-placeholder {
    letter-spacing: -0.02em;
    @apply w-[310px] overflow-hidden whitespace-nowrap pr-3 text-sm text-n-40 duration-300;
  }

  .multiselect-placeholder::after {
    content: '';
    @apply absolute right-0 top-3 h-6 w-7 bg-[transparent];
  }

  .multiselect.is-open {
    .multiselect-placeholder {
      @apply text-n-50;
    }
  }

  .multiselect-dropdown {
    @apply border border-n-50;
  }

  .multiselect-caret {
    -webkit-mask-image: url('/images/dropdown-arrow.svg');
    mask-image: url('/images/dropdown-arrow.svg');
  }

  .multiselect-search {
    @apply cursor-pointer border border-n-30 py-2.5;
  }

  .multiselect-search:focus {
    @apply bg-n-10;
  }

  .multiselect-search:focus + .multiselect-placeholder::after {
    @apply bg-n-10;
  }

  .vue__select {
    @apply mb-2 border border-n-30   text-sm leading-6 outline-none duration-300;

    // @media screen and (min-width: 640px) {
    //   padding: 16px 0px 16px 55px;
    // }
    // padding: 13px 0px 13px 55px;
  }
}
.error_input {
  border: 1px solid #d1001e;
}
.error__multiselect {
  input {
    border: 1px solid #d1001e;
  }
}
.panel__input {
  @apply box-border h-10 w-full rounded border border-n-30 bg-paper py-2.5 pl-7 pr-3 outline-none duration-300;

  &::placeholder {
    @apply text-xs font-normal text-n-30 duration-300;
    letter-spacing: -0.02em;
  }

  &:focus::placeholder {
    @apply text-n-40;
  }
}
.search {
  @apply relative;

  &__input {
    @apply border border-n-30 bg-transparent outline-none;
    padding: 10px 42px 10px 34px;
    border-radius: 20px;
  }
  svg {
    @apply absolute left-3 top-3 text-base text-n-30;
  }
}
.required-icon {
  @apply relative top-0.5 text-base leading-none text-crimson-50;
}
.open-text {
  border-radius: 4px;
  border: 1px solid #a6b5ba;
  position: relative;
  input {
    overflow: hidden;
    padding-top: 4px;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background-color: white;
    padding-left: 30px;
    &:focus {
      outline: none !important;
    }
  }
}
.user-checklist {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
}
.pseudo-checkbox {
  height: 18px;
  width: 18px;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #d5dcde;
  opacity: 1;
  background-color: white;
  border-radius: 4px;
}
.user-checklist:checked ~ .pseudo-checkbox {
  border-color: rgb(var(--spring-50));
}
.ticked-svg {
  position: absolute;
  top: 1px;
  left: 1px;
  opacity: 0;
  height: 16px;
  width: 16px;
  transform: scale(0.7);
}
.user-checklist:checked ~ .ticked-svg {
  opacity: 1;
}
input[type='radio'] {
  accent-color: #155366;
}

.mark-email-spam {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 18px;
  height: 18px;
}

.spam-pseudo-checkbox {
  height: 18px;
  width: 18px;
  position: relative; /* Changed to relative */
  border: 2px solid #d5dcde;
  opacity: 1;
  background-color: white;
  border-radius: 4px;
}

.spam-ticked-svg {
  position: absolute;
  opacity: 0;
  height: 16px;
  width: 18px;
  transform: scale(0.7);
}

.mark-email-spam:checked ~ .spam-pseudo-checkbox {
  border-color: rgb(var(--spring-50));
}

.mark-email-spam:checked ~ .spam-ticked-svg {
  opacity: 1;
}

label {
  cursor: pointer;
}

select.select2.default-value-indicator
  + .select2
  .selection
  .select2-selection:not(:focus) {
  border: 2px solid #3f9a7c;
  background-color: #3f9a7c15;
}

select.select2.default-value-indicator
  + .select2
  .selection
  .select2-selection:not(:focus) {
  border: 2px solid #3f9a7c;
  background-color: #3f9a7c15;
}

select.select2.default-value-indicator
  + .select2
  .selection
  .select2-selection
  .select2-selection__placeholder {
  color: var(--bluecoral-50);
}

select.select2.default-value-indicator
  + .select2.select2-container--open
  .selection
  .select2-selection {
  border: 1px solid #a6b5ba;
  background-color: white;
}

select.select2.default-value-indicator
  + .select2
  .selection
  .select2-selection.select2-selection--clearable {
  border: 1px solid #a6b5ba;
  background-color: white;
}

.multiselect.vue__select.default-value-indicator {
  .multiselect-wrapper {
    // padding: 15px 0;
  }
}

.default-value-indicator {
  input.multiselect-search {
    border: 1px solid #3f9a7c;
    background-color: #3f9a7c15;
  }

  .multiselect-placeholder::after {
    background-color: white;
  }
}

.default-value-indicator.is-open,
.default-value-indicator:has(.multiselect-single-label) {
  input.multiselect-search {
    border: 1px solid #a6b5ba;
    background-color: #ffffff;
  }
  .multiselect-placeholder::after {
    background-color: transparent !important;
  }
}
