.iati-list-table {
  @apply rounded-lg border border-n-20 text-left;
  table {
    @apply table w-full table-fixed bg-white;
  }
  tbody {
    tr {
      &:hover {
        z-index: 1;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        @apply bg-n-10;
      }
    }
    tr:not(:last-child) {
      td,
      th {
        @apply relative;
        &:after {
          content: '';
          @apply absolute left-0 bottom-0 h-px w-full max-w-full bg-n-20;
        }
      }
      td:first-child:after {
        @apply ml-6;
      }
      th.check-column:after {
        @apply -ml-6;
      }
    }
  }

  th {
    @apply py-4 px-6 align-top text-xs uppercase leading-normal;

    svg {
      @apply mr-1 text-xl text-n-30;
    }

    a {
      @apply flex;
      svg {
        @apply text-base text-bluecoral;
      }
    }
  }

  td {
    @apply relative py-4 px-6 align-top text-sm leading-relaxed;
  }

  tr.already_published {
    td,
    th.check-column {
      @apply pt-11;
    }
  }

  .has-status {
    td {
      @apply px-6 pt-11 pb-7;
    }
    th {
      @apply px-6 pt-11 pb-7;
    }
  }

  .check-column .checkbox {
    margin-top: 4px;
  }
}

.upload-list-table {
  .upload-error {
    @apply bg-rose;

    &:hover {
      @apply bg-rose;
    }

    .title {
      font-weight: bold;
    }
  }

  .upload-error-content {
    display: none;

    ul {
      @apply mt-4 space-y-4 text-sm font-normal text-bluecoral;
    }

    li {
      position: relative;
      padding-left: 36px;

      &:not(:last-child) {
        @apply border-b border-b-n-20 pb-4;
      }

      &::before {
        position: absolute;
        top: 8px;
        left: 20px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        content: '';
        @apply bg-bluecoral;
      }
    }

    &.open {
      display: block;
    }
  }

  .upload-error-icon {
    position: absolute;
    top: 26px;
    right: 0;

    svg {
      font-size: 6px;
    }

    &.open {
      transform: rotate(180deg);
    }
  }
}

#cb {
  width: 68px;
}

#status {
  width: 192px;
}

#publish {
  width: 280px;
}

#date {
  width: 173px;
}
