.iati-list-table {
  @apply rounded-lg border border-n-20;
  table {
    @apply table w-full table-fixed bg-white;
  }
  tbody {
    tr {
      &:hover {
        z-index: 1;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
      }
    }
    tr:not(:last-child) {
      td,
      th {
        @apply relative;
        &:after {
          content: '';
          @apply absolute left-0 bottom-0 h-px w-full w-full max-w-full bg-n-20;
        }
      }
      td:first-child:after {
        @apply ml-6;
      }
      th.check-column:after {
        @apply -ml-6;
      }
    }
  }

  th {
    @apply py-4 px-6 align-top text-xs uppercase leading-normal;

    svg {
      @apply mr-1 text-xl text-n-30;
    }

    a {
      @apply flex;
      svg {
        @apply text-base text-bluecoral;
      }
    }
  }

  td {
    padding: 16px 24px;
    font-size: 14px;
    line-height: 1.6;
    vertical-align: top;
  }
}

#cb {
  width: 68px;
}

#status {
  width: 192px;
}

#publish {
  width: 129px;
}

#date {
  width: 173px;
}
